{% extends 'blog/base.html' %}

{% block main %}
    <h1>Home</h1>
    <p>Testing DTL</p>
    <h2>{{title|truncatewords:1}}</h2>
    <h3>Func: {{func|upper}}</h3>
    <h3>List: {{myList}}</h3>

    <ul>
        {% for item in myList %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
    {% else %}
        <p>Hello, guest!</p>
    {% endif %}

    <p>Now is {% now "d/m/y H:i:s" %}</p>

{% endblock %}